In [2]:
%reset -f
%load_ext autoreload
%autoreload 2

import sys
import os

sys.path.append(os.path.join(os.path.pardir, 'code'))

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from eiso_brute import eiso_brute

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Observability matrix

In [3]:
O = np.array([[1.0, 0.0, 0.0, 0.0],
              [1.0, 1.0, 1.0, 0.0],
              [0.0, 0.0, 1e-5, 0.0],
              [1.0, 1.0, 1.0, 1.0],
              [1.0, 1.0, 1.0, 1.0]])

pd.DataFrame(O)

     0    1        2    3
0  1.0  0.0  0.00000  0.0
1  1.0  1.0  1.00000  0.0
2  0.0  0.0  0.00001  0.0
3  1.0  1.0  1.00000  1.0
4  1.0  1.0  1.00000  1.0

### State to reconstruct

In [4]:
ej = 1

### Run brute force EISO

In [5]:
CN_min, O_min, row_min, CN, rows = eiso_brute(O, ej=ej, beta=1e-9, show_n_comb=True)

Total combinations: 31

In [6]:
print('Min condition #:', CN_min)

Min condition #: 261312.5929827648

In [7]:
print('Min subset:', row_min)
pd.DataFrame(O_min)

Min subset: [0 1 2]

     0    1        2    3
0  1.0  0.0  0.00000  0.0
1  1.0  1.0  1.00000  0.0
2  0.0  0.0  0.00001  0.0